[Unit]
Description=manta and calamari node status observer
Wants=network-online.target
After=network-online.target

[Service]
User=mobula
Group=mobula
Type=simple
ExecStartPre=-/usr/bin/curl -sLo /home/mobula/.local/bin/remove-expired-observations.js https://raw.githubusercontent.com/Manta-Network/pulse/main/observer/remove-expired-observations.js
ExecStartPre=-/usr/bin/curl -sLo /home/mobula/.local/bin/observe.sh https://raw.githubusercontent.com/Manta-Network/pulse/main/observer/observe.sh
ExecStartPre=-/usr/bin/chmod +x /home/mobula/.local/bin/observe.sh
ExecStart=/home/mobula/.local/bin/observe.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
