[Unit]
Description=calamari node configuration maintainer
Wants=network-online.target
After=network-online.target

[Service]
User=mobula
Group=mobula
Type=simple
ExecStartPre=-/usr/bin/curl -H 'Cache-Control: no-cache, no-store' -sLo /home/mobula/.local/bin/maintain.sh https://raw.githubusercontent.com/Manta-Network/pulse/main/maintainer/maintain.sh
ExecStartPre=-/usr/bin/chmod +x /home/mobula/.local/bin/maintain.sh
ExecStart=/usr/bin/bash /home/mobula/.local/bin/maintain.sh calamari.systems
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
