[Unit]
Description=pulse configuration agent
Wants=network-online.target
After=network-online.target

[Service]
User=pulse
Group=pulse
Type=simple
ExecStart=/usr/local/bin/pulse-agent.sh
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
