[Unit]
Description=pulse configuration agent
Wants=network-online.target
After=network-online.target

[Service]
User=pulse
Group=pulse
Type=simple
Environment=PULSE_REPO=Manta-Network/pulse
ExecStart=curl -sLH 'Cache-Control: no-cache, no-store' https://raw.githubusercontent.com/${PULSE_REPO}/$(curl -s https://api.github.com/repos/${PULSE_REPO}/commits/main | jq -r .sha)/agent/pulse.sh | bash
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
